<form [formGroup]="form" (ngSubmit)="submitNewUser()">
    <div class="datas">
        <div>
            <p>User name:</p>
            <input type="text" formControlName="name">
        </div>
        <div>
            <p>Age:</p>
            <input type="text" formControlName="age">
        </div>
        <div>
            <p>Sex:</p>
            <select formControlName="sex">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="select__exp">
            <p>Experience:</p>
            <select formControlName="experience" multiple="multiple">
                <option *ngFor="let exp of experiences; let i = index" value={{i}}>{{exp}}</option>
            </select>
        </div>
        <button [disabled]="form.invalid" type="submit">Register new user</button>
        <p *ngIf="isAdded">New user was successfully added!</p>
    </div>
</form>