li {
    border-top: 1px solid black;
}
.noTodo {
    p {
        font-size: 50px;
        margin: 0 auto;
        margin-top: 35px;
        text-shadow: 36px;
        line-height: 30px;
        color:midnightblue;
        text-align: center;
    }
}