.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
button {
    margin-top: 20px;
}
#toAuth {
    margin-left: 20px;
}
#loginExists {
    color: red;
    font-size: 20px;
}