<div class="container">
    <p>Enter registration info below:</p>
    <form [formGroup]="form">
        <div >
            <div>
                <p>Login:</p>
                <input type="text" formControlName="login">
                <p *ngIf="suchLoginExists" id="loginExists">User with such login exists!</p>
            </div>
            <div>
                <p>Password:</p>
                <input type="password" formControlName="password">
            </div>
        </div>
        <div class="buttons">
            <button  [disabled]="form.invalid" (click)="submitRegistrated()">Send data</button>
            <button id="toAuth" routerLink="/auth">Back to auth page</button>
        </div>
        <p *ngIf="regCreated">Registration has been successfully ended</p>
    </form>
</div>

<!-- [disabled]="form.invalid" -->