.find__head {
    display: flex;
    align-items: center;

    button {
        height: 40px;
        margin-left: 200px;
    }
    span {
        margin-left: 15px;
    }
}
li {
    margin-top: 20px;
    span {
        margin-left: 10px;
    }
}
.noUsers {
    margin-top: 20px;
    font-size: 24px;
}
.find__search {
    position: relative;
    svg {
        width: 50px;
        height: 23px;
        position: absolute;
        margin-right: 40px;
        left: 140px;
        &:hover {
            cursor: pointer;
        }
    }
}
