<div class="find">
  <div class="find__head">
    <h3>Search user by name</h3>
    <button (click)="changeTimerStatus()">Refresh users list timer</button>
    <span>{{ timer }}</span>
  </div>
  <input type="text" [formControl]="controlName" />
</div>

<ul *ngIf="filteredUsers?.length; else noUserRef">
  <li *ngFor="let filter of filteredUsers">
    <p>
      {{
        filter.name +
          " - age: " +
          filter.age +
          " - sex: " +
          filter.sex +
          " - experience: " +
          filter.experienceAsTitle
      }}
    </p>
  </li>
</ul>

<ng-template #noUserRef>
  <div class="noUsers">No users with similar name</div>
</ng-template>
