.find__head {
    display: flex;
    align-items: center;

    button {
        height: 40px;
        margin-left: 200px;
    }
    span {
        margin-left: 15px;
    }
}
li {
    margin-top: 20px;
    span {
        margin-left: 10px;
    }
}